# django-ca local settings file. For more information:
#   https://django-ca.readthedocs.io/en/latest/settings.html for more information.

# The hostname for your CA.
# WARNING: Changing this requires new CAs (because the hostname goes into the certificates).
CA_DEFAULT_HOSTNAME: "{{ ca_default_hostname }}"

# The URL base path used for ACMEv2/OCSP/CRL URLs. If given, the path **must** end with a slash.
#
# If you're upgrading from a previous version and have existing CAs, uncomment or set to "django_ca/".
#
# WARNING: Changing this requires new CAs (because the path goes into the certificates).
DJANGO_CA_CA_URL_PATH: "{{ ca_url_path }}"

# Secret key used by this installation. Generate e.g. with "openssl rand -base64 32".
SECRET_KEY: ""

# Database configuration
DATABASES:
    default:
        ENGINE: django.db.backends.postgresql
        HOST: localhost
        PORT: 5432
        NAME: django_ca
        USER: django_ca
        PASSWORD: random-password
