# This is an example localsettings.py file for django-ca. Also see
#   http://django-ca.readthedocs.org/en/latest/settings.html
# for more information.

import os

# BASEDIR is the directory above this file, where your manage.py file is located.
BASE_DIR = os.path.dirname(os.path.dirname(__file__))

# configure your database here:
DATABASES = {
    'default': {
        # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'ENGINE': 'django.db.backends.',  
        'NAME': '',
        'USER': '',
        'PASSWORD': '',
        'HOST': '',                      
        'PORT': '',                      
    }
}

# This should be long, random and unique:
SECRET_KEY = ''

# Hostnames under which this project will be available. This setting is only required if you want
# to run the admin webinterface.
#ALLOWED_HOSTS = [
#   'ca.example.com',
#]

# Where static files (CSS/JavaScript/...) should be collected to. This setting is only required if
# you want to run the admin webinterface.
#STATIC_ROOT = '/var/www/ca.example.com/static'

##################
### CA options ###
##################
# The directory where your CA files are located
#CA_DIR = os.path.join(BASE_DIR, 'files')

###########################
### Certificate options ###
###########################
# The default algorithm used for signing certificates.
#CA_DIGEST_ALGORITHM = 'sha512'

# Override any existing CA profiles.
#CA_PROFILES = {}

# Default time in days for signed certificates to expire.
#CA_DEFAULT_EXPIRES = getattr(settings, 'CA_DEFAULT_EXPIRES', 730)

# Default profile used for signing certificates.
#CA_DEFAULT_PROFILE = getattr(settings, 'CA_DEFAULT_PROFILE', 'webserver')

# Where to dump the OCSP index to. Setting this will automatically regenerate the index whenever
# you revoke a certificate.
#CA_OCSP_INDEX_PATH = None
