**/*.backup
**/*.log
**/*.py[co]
**/*.sqlite3
**/*.sw[a-z]
**/__pycache__
**/geckodriver.log
**/pip-selfcheck.json
/.git/
/.coverage
/.docker/
/.certbot/
/.tox/
/bin/
/ca/*.egg-info
/ca/ca/settings.yaml
/ca/files/
/docs/build/
/include/
/lib/
/share/
