**/*.backup
**/*.log
**/*.py[co]
**/*.sqlite3
**/*.sw[a-z]
**/__pycache__
**/geckodriver.log
**/pip-selfcheck.json
/.certbot/
/.coverage
/.docker/
/.env
/.mypy_cache/
/.python-version
/.tox/
/bin/
/ca/*.egg-info
/ca/ca/settings.yaml
/ca/files/
/docs/build/
/docs/source/_files/docker-compose.yml
/include/
/lib/
/share/
