**/*.py[co]
**/*.sw[a-z]
**/*.log
**/__pycache__
**/*.sqlite3
/.git/
/.coverage
/.docker/
/.tox/
/bin/
/ca/*.egg-info
/ca/ca/settings.yaml
/ca/db.sqlite3
/ca/files/
/docs/build/
/include/
/lib/
/py2/
/share/
