*.py[co]
*.sw[po]
*.sqlite3
*.egg-info
geckodriver.log
localsettings.py
/.env
/.tox/
/MANIFEST
/bin/
/build/
/.coverage
/.docker/
/ca/files/
/contrib/
/dist
/dj18/
/docs/build/
/fab.conf
/include/
/lib/
/local/
/pip-selfcheck.json
/priv/
/share/
/py2/
/venv/
/Makefile
