*.backup
*.egg-info
*.py[co]
*.sqlite3
*.sw[po]
.idea/
/*.crl
/*.csr
/*.key
/*.pem
/.certbot/
/.coverage
/.docker/
/.env
/.python-version
/.tox/
/.vagrant/
/MANIFEST
/Makefile
/bin/
/build/
/ca/*.csr
/ca/*.key
/ca/*.pem
/ca/ca/settings.yaml
/ca/files/
/contrib/
/dist
/dj18/
/docs/build/
/docs/source/_files/compose.yaml
/docs/source/_files/openapi.json
/fab.conf
/include/
/lib/
/local/
/pip-selfcheck.json
/priv/
/py2/
/share/
/venv/
Pipfile*
geckodriver.log
