*.backup
*.py[co]
*.sw[po]
*.sqlite3
*.egg-info
geckodriver.log
/.certbot/
/ca/*.key
/ca/*.pem
/ca/*.csr
/.env
/.tox/
/MANIFEST
/bin/
/build/
/.coverage
/.docker/
/.python-version
/ca/ca/settings.yaml
/ca/files/
/contrib/
/dist
/dj18/
/docs/build/
/docs/source/_files/docker-compose.yml
/fab.conf
/include/
/lib/
/local/
/pip-selfcheck.json
/priv/
/share/
/py2/
/venv/
/Makefile
.idea/
Pipfile*
