acme==3.0.1
amqp==5.3.1
annotated-types==0.7.0
asgiref==3.8.1
asn1crypto==1.5.1
billiard==4.2.1
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==44.0.0
Django==5.1.4
django-ninja==1.3.0
django-object-actions==4.3.0
dnspython==2.7.0
hiredis==3.1.0
idna==3.10
josepy==1.14.0
kombu==5.4.2
packaging==24.2
prompt_toolkit==3.0.48
pycparser==2.22
pydantic==2.10.3
pydantic_core==2.27.1
pyOpenSSL==24.3.0
pyRFC3339==2.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
redis==5.2.1
requests==2.32.3
setuptools==75.6.0
six==1.17.0
sqlparse==0.5.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
wheel==0.45.1
