-rrequirements/requirements-docs.txt
-rrequirements/requirements-dist.txt
-rrequirements/requirements-test.txt
-rrequirements/requirements-lint.txt
-rrequirements/requirements-mypy.txt
ipython>=7.28.0
docker==6.0.1
pip>=21.3

tox>=3.24.4

flake8-isort==5.0.0
termcolor==2.1.0
toml>=0.10.2
wheel-inspect
