acme==2.11.0
amqp==5.2.0
annotated-types==0.7.0
asgiref==3.8.1
asn1crypto==1.5.1
billiard==4.2.0
celery==5.4.0
certifi==2024.6.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==42.0.8
Django==5.0.6
django-ninja==1.2.0
django-object-actions==4.2.0
dnspython==2.6.1
hiredis==2.3.2
idna==3.7
josepy==1.14.0
kombu==5.3.7
packaging==24.1
prompt_toolkit==3.0.47
psycopg==3.1.19
psycopg-c==3.1.19
psycopg-pool==3.2.2
pycparser==2.22
pydantic==2.7.4
pydantic_core==2.18.4
pyOpenSSL==24.1.0
pyRFC3339==1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.7
requests==2.32.3
setuptools==70.1.1
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
wheel==0.43.0
