acme==2.9.0
amqp==5.2.0
annotated-types==0.6.0
asgiref==3.8.1
asn1crypto==1.5.1
billiard==4.2.0
celery==5.3.6
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==42.0.5
Django==5.0.3
django-ninja==1.1.0
django-object-actions==4.2.0
dnspython==2.6.1
hiredis==2.3.2
idna==3.7
josepy==1.14.0
kombu==5.3.6
packaging==24.0
prompt-toolkit==3.0.43
psycopg==3.1.18
psycopg-c==3.1.18
psycopg-pool==3.2.1
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
pyOpenSSL==24.1.0
pyRFC3339==1.1
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
redis==5.0.3
requests==2.32.0
setuptools==69.2.0
six==1.16.0
sqlparse==0.5.0
typing_extensions==4.10.0
tzdata==2024.1
urllib3==2.2.2
vine==5.1.0
wcwidth==0.2.13
wheel==0.43.0
