[Unit]
Description=django-ca task worker
After=syslog.target network.target

[Service]
Type=forking
WorkingDirectory=/opt/django-ca/src/django-ca/ca/
EnvironmentFile=/etc/django-ca/systemd.conf
EnvironmentFile=-/etc/django-ca/systemd-local.conf
ExecStart=/bin/sh -c '${VIRTUAL_ENV}/bin/celery -A ca multi start $CELERYD_NODES \
    --pidfile=${RUNTIME_DIRECTORY}/celery.pid --logfile=${LOGS_DIRECTORY}/celery.log \
    --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS'
ExecStop=/bin/sh -c '${VIRTUAL_ENV}/bin/celery multi stopwait $CELERYD_NODES \
    --pidfile=${RUNTIME_DIRECTORY}/celery.pid --logfile=${LOGS_DIRECTORY}/celery.log \
    --loglevel="${CELERYD_LOG_LEVEL}"'
ExecReload=/bin/sh -c '${VIRTUAL_ENV}/bin/celery -A ca multi restart $CELERYD_NODES \
    --pidfile=${RUNTIME_DIRECTORY}/celery.pid --logfile=${LOGS_DIRECTORY}/celery.log \
    --loglevel="${CELERYD_LOG_LEVEL}" $CELERYD_OPTS'
User=django-ca
Group=django-ca
ConfigurationDirectory=django-ca
ConfigurationDirectoryMode=0750
LogsDirectory=django-ca
RuntimeDirectory=%N
RuntimeDirectoryMode=0750
Restart=on-failure

# Secure the service
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
ReadWritePaths=/opt/django-ca/home/files/
NoNewPrivileges=true
PrivateUsers=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallArchitectures=native
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectControlGroups=true
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
