[Unit]
Description=django-ca application server
Requires=django-ca.socket
After=syslog.target network.target

[Service]
Type=notify
NotifyAccess=main
EnvironmentFile=/etc/%N/systemd.conf
EnvironmentFile=-/etc/%N/systemd-local.conf
WorkingDirectory=/opt/django-ca/src/django-ca/ca
ExecStart=/opt/django-ca/src/django-ca/.venv/bin/gunicorn \
        --config ${CONFIGURATION_DIRECTORY}/gunicorn.conf.py \
        ca.wsgi:application
ExecReload=/bin/kill -s HUP $MAINPID
User=%N
Group=%N
ConfigurationDirectory=%N
RuntimeDirectory=%N
Restart=on-failure
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target
