[Unit]
Description=django-ca application server
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/%N/systemd.conf
EnvironmentFile=-/etc/%N/systemd-local.conf
WorkingDirectory=/opt/django-ca/src/django-ca/ca
ExecStart=/opt/django-ca/src/django-ca/.venv/bin/uwsgi \
        --ini ${INSTALL_BASE}/uwsgi/source.ini \
        --socket ${RUNTIME_DIRECTORY}/uwsgi.socket $UWSGI_OPTS
User=%N
Group=%N
ConfigurationDirectory=%N
RuntimeDirectory=%N
Restart=on-failure
KillSignal=SIGQUIT
Type=notify
#StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target
