[Unit]
Description=django-ca task scheduler
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/django-ca/src/django-ca/ca
EnvironmentFile=/etc/django-ca/systemd.conf
EnvironmentFile=-/etc/django-ca/systemd-local.conf
ExecStart=/bin/sh -c '${VIRTUAL_ENV}/bin/celery -A ca beat  \
    --schedule=${STATE_DIRECTORY}/schedule.db \
    --loglevel=${CELERYD_LOG_LEVEL}'
ExecReload=/bin/kill -HUP $MAINPID
Restart=always
User=django-ca
Group=django-ca
ConfigurationDirectory=django-ca
ConfigurationDirectoryMode=0750
LogsDirectory=django-ca
StateDirectory=django-ca


# Secure the service
ProtectSystem=strict
ProtectHome=true
PrivateTmp=true
#ReadWritePaths=...
NoNewPrivileges=true
PrivateUsers=true
RestrictSUIDSGID=true
CapabilityBoundingSet=
AmbientCapabilities=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged
SystemCallArchitectures=native
ProtectKernelTunables=true
ProtectKernelModules=true
ProtectKernelLogs=true
ProtectClock=true
ProtectControlGroups=true
RestrictNamespaces=true
RestrictRealtime=true
LockPersonality=true
MemoryDenyWriteExecute=true

[Install]
WantedBy=multi-user.target
