Vagrant.configure("2") do |config|
  config.vm.box = "{{ box }}"
  config.ssh.username = "root"

  config.vm.provider "virtualbox" do |vb|
    vb.memory = "2048"  # Memory in MB (2GB)
  end

  config.vm.synced_folder "../../", "/vagrant"
end