services:
    backend:
        volumes:
            - ./localsettings.yaml:/usr/src/django-ca/ca/conf/compose/99-localsettings.yaml
    frontend:
        volumes:
            - ./localsettings.yaml:/usr/src/django-ca/ca/conf/compose/99-localsettings.yaml
    webserver:
        volumes:
            - {{ certbot_root }}live/${DJANGO_CA_CA_DEFAULT_HOSTNAME}:{{ tls_cert_root }}live/${DJANGO_CA_CA_DEFAULT_HOSTNAME}/
            - {{ certbot_root }}archive/${DJANGO_CA_CA_DEFAULT_HOSTNAME}:{{ tls_cert_root }}archive/${DJANGO_CA_CA_DEFAULT_HOSTNAME}/
            - ./{{ dhparam_name }}:/etc/nginx/dhparams/dhparam.pem
            - ./acme/:/usr/share/django-ca/acme/
        ports:
            - 443:443
