server {
    listen       ${NGINX_PORT};
    server_name  ${NGINX_HOST};

    location / {
        uwsgi_pass django_ca_frontend;
        include /etc/nginx/uwsgi_params;
    }
    location /static/ {
        root   /usr/share/nginx/html/;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }

}

server {
    listen ${NGINX_PORT} default_server;
    return 444;
}
