To run **django-ca**, you need {{ base }}. You will also need at least a `supported database
<https://docs.djangoproject.com/en/4.0/ref/databases/>`_ and a web server (like NGINX or Apache) to serve
static files.

In our guide, we are going to run PostgreSQL as a database, Redis as a cache and NGINX as a front-facing web
server {{ how }}. Please refer to your operating system installation instructions for how to install the
software on your own.
