.. code-block:: console

   user@host:~# mkdir -p /opt/django-ca/src/
   user@host:~# cd /opt/django-ca/src/
   user@host:/opt/django-ca/src/# wget -O django-ca-{{ version }}.tar.gz \
   >    https://github.com/mathiasertl/django-ca/archive/refs/tags/{{ version }}.tar.gz
   user@host:/opt/django-ca/src/# tar xf django-ca-{{ version }}.tar.gz
   user@host:/opt/django-ca/src/# ln -s /opt/django-ca/src/django-ca-{{ version }} django-ca
