-r requirements-dev-common.txt
# Astroid 3.3.7 does not work, see: https://github.com/pylint-dev/astroid/issues/2662
astroid>=3.3.6,!=3.3.7
pre-commit==4.0.1
pylint-django==2.6.1
pylint==3.3.3
ruff==0.8.6
setuptools>=65