build==1.2.2.post1
# readme-renderer~=44.0 depends on a newer docutils version then supported by sphinx==7.2.6 (readme-renderer
# is a dependency of twine).
readme-renderer<44
twine==5.1.1
wheel==0.45.1
# See pyproject.toml for reasoning for required minimum version
setuptools>=68.1
