# Upgrade to Spinx 6.0 is blocked by celery<5.3:
#   https://github.com/celery/celery/pull/7978
# Upgrade to Sphinx 6.0 is blocked by sphinx_rtd_theme docutils==1.2.0 support:
#   https://github.com/readthedocs/sphinx_rtd_theme/issues/1323
Sphinx<6
