-r requirements-dev-common.txt
mypy==1.4.1
django-stubs==4.2.3
types-docutils==0.20.0.1
types-freezegun==1.1.10
types-jinja2==2.11.9
types-mysqlclient==2.2.0.1
types-psycopg2==2.9.21.11
types-pyOpenSSL==23.2.0.2
types-pyRFC3339==1.1.1.5
types-redis==4.6.0.3
types-requests==2.31.0.2
types-setuptools==68.0.0.3
types-tabulate==0.9.0.3
