coverage[toml]==5.5
django-webtest==1.9.7
freezegun==1.1.0
ocspbuilder==0.10.2
oscrypto==1.2.1
pyOpenSSL>=19
pyvirtualdisplay==2.1
requests-mock==1.9.3
selenium==3.141.0
termcolor==1.1.0
pyrfc3339==1.1
