-r requirements-dev-common.txt
PyVirtualDisplay==3.0
django-webtest==1.9.12
freezegun==1.5.1
pyOpenSSL>=23
pyrfc3339==2.0.1
pytest-env==1.1.5
pytest-freezer==0.4.9
pytest-random-order==1.1.1
requests-mock==1.12.1
