location /${DJANGO_CA_CA_URL_PATH}issuer/ {
    try_files "" @django_ca;
}
location /${DJANGO_CA_CA_URL_PATH}crl/ {
    try_files "" @django_ca;
}
location /${DJANGO_CA_CA_URL_PATH}ocsp/ {
    try_files "" @django_ca;
}
