name: Documentation
on:
  push:
  pull_request:

env:
  UV_PYTHON_PREFERENCE: only-system
  UV_NO_SYNC: 1

jobs:
  run:
    runs-on: ubuntu-latest
    env:
      DJANGO_CA_SECRET_KEY: dummy
    steps:

      - name: Acquire sources
        uses: actions/checkout@v4.2.2

      - name: Setup Python
        uses: actions/setup-python@v5.4.0
        with:
          # Python 3.13 currently fails
          python-version: "3.12"
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v5.3.1
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra api --extra celery --extra hsm --no-default-groups --group dev --group docs

      - name: doc8 style checks
        run: uv run doc8 docs/source/

      - name: Generate documentation
        run: uv run make -C docs html

      - name: Spelling
        run: uv run make -C docs spelling
