name: MariaDB tests
on:
  push:
  pull_request:

env:
  UV_PYTHON_PREFERENCE: only-system
  UV_NO_SYNC: 1
  MARIADB_HOST: "127.0.0.1"

jobs:
  run:
    name: Django ${{ matrix.django-version }}, ${{ matrix.mariadb-image }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        django-version: [ "5.2" ]
        mariadb-image: [
          "mysql:8.4",
          "mysql:9",
          "mariadb:11.4",
          "mariadb:11.8",
          "mariadb:12",
        ]

    services:
      mariadb:
        image: ${{ matrix.mariadb-image }}
        ports:
          - 3306:3306
        env:
          MARIADB_ROOT_PASSWORD: django-ca-test-password
          MARIADB_DATABASE: django_ca
          MYSQL_ROOT_PASSWORD: django-ca-test-password
          MYSQL_DATABASE: django_ca

    steps:
      - name: Install APT dependencies
        run: sudo apt-get install -y softhsm2

      - name: Acquire sources
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.14"
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v6.6.1
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra api --extra celery --extra hsm --extra mysql --no-default-groups --group dev --group Django${{ matrix.django-version }}

      - name: Run migrations
        run: uv run python ca/manage.py migrate
        env:
          DJANGO_SETTINGS_MODULE: ca.test_settings

      - name: Run tests
        run: uv run pytest -v --cov-report term-missing --no-selenium