name: PostgreSQL tests
on:
  push:
  pull_request:

env:
  UV_PYTHON_PREFERENCE: only-system
  UV_NO_SYNC: 1
  POSTGRES_HOST: localhost

jobs:
  run:
    name: Django ${{ matrix.django-version }}, PostgreSQL ${{ matrix.postgres-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest ]
        django-version: [ "5.2", "6.0" ]
        postgres-version: [ "16", "17", "18" ]

    services:
      postgres:
        image: postgres:${{ matrix.postgres-version }}
        ports:
          - 5432:5432
        env:
          POSTGRES_PASSWORD: django-ca-test-password
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    steps:
      - name: Install APT dependencies
        run: sudo apt-get install -y softhsm2

      - name: Acquire sources
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.14"
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v6.6.1
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --extra api --extra celery --extra hsm --extra postgres --no-default-groups --group dev --group Django${{ matrix.django-version }}

      - name: Run migrations
        run: uv run python ca/manage.py migrate
        env:
          DJANGO_SETTINGS_MODULE: ca.test_settings

      - name: Run tests
        run: uv run pytest -vx --cov-report term-missing --no-selenium