name: Tests
on:
  push:
  pull_request:
  pull_request_target:

jobs:

  run:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest ]
        python-version: [ "3.8", "3.9", "3.10", "3.11", "3.12" ]
        django-version: [ "4.2.0", "5.0.0", ]
        cryptography-version: [ "41.0", "42.0" ]
        pydantic-version: [ "2.5.0", "2.6.0" ]
        exclude:
          - python-version: 3.8
            django-version: 5.0.0
          - python-version: 3.9
            django-version: 5.0.0

    name: Python ${{ matrix.python-version }}, Django ${{ matrix.django-version }}, cryptography ${{ matrix.cryptography-version }}, pydantic ${{ matrix.pydantic-version }}
    steps:
      - name: Install APT dependencies
        run: sudo apt-get install -y firefox

      - name: Acquire sources
        uses: actions/checkout@v4.1.1

      - name: Setup Python
        uses: actions/setup-python@v5.0.0
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Apply caching of dependencies
        uses: actions/cache@v4.0.0
        with:
          path: ~/.cache/pip
          key: os=${{ matrix.os }}-python=${{ matrix.python-version }}-pip-${{ hashFiles('**/requirements-*.txt') }}

      - name: Install dependencies
        run: |
          pip install -U pip setuptools wheel
          pip install -r requirements.txt -r requirements/requirements-test.txt django~=${{ matrix.django-version }} cryptography~=${{ matrix.cryptography-version }} pydantic~=${{ matrix.pydantic-version }}

      - name: Initialize demo
        run: python dev.py init-demo

      - name: Run tests
        run: pytest -v --cov-report term-missing --durations=20
