name: Wheel
on:
  push:
  pull_request:

env:
  UV_PYTHON_PREFERENCE: only-system
  UV_NO_SYNC: 1

jobs:
  build:
    name: Build wheel
    runs-on: ubuntu-latest
    steps:
      - name: Acquire sources
        uses: actions/checkout@v5.0.0
        with:
          fetch-depth: 0

      - name: Setup Python
        uses: actions/setup-python@v6.0.0
        with:
          python-version: "3.14"
          architecture: x64

      - name: Install uv
        uses: astral-sh/setup-uv@v6.6.1
        with:
          enable-cache: true

      - name: Build wheel
        run: uv build

      - name: Archive Wheel
        uses: actions/upload-artifact@v4.6.2
        with:
          name: python-packages
          path: dist/

  publish-to-testpypi:
    name: Publish to test.pypi.org

    # Publish to TestPyPI for tags and on main.
    if: ${{ startsWith(github.ref, 'refs/tags/') || github.ref == 'refs/heads/main' }}

    needs:
      - build
    runs-on: ubuntu-latest

    environment:
      name: testpypi
      url: https://test.pypi.org/p/django-ca

    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Download packages
        uses: actions/download-artifact@v4.2.1
        with:
          name: python-packages
          path: dist/
      - name: Publish to TestPyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          repository-url: https://test.pypi.org/legacy/

  publish-to-pypi:
    name: Publish to pypi.org
    if: startsWith(github.ref, 'refs/tags/')  # only publish to PyPI on tag pushes
    needs:
      - publish-to-testpypi
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/django-ca
    permissions:
      id-token: write  # IMPORTANT: mandatory for trusted publishing

    steps:
      - name: Download packages
        uses: actions/download-artifact@v4.2.1
        with:
          name: python-packages
          path: dist/
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.13.0

  github-release:
    name: Sign artifacts and upload them to GitHub Release
    needs:
      - publish-to-pypi
    runs-on: ubuntu-latest

    permissions:
      contents: write  # IMPORTANT: mandatory for making GitHub Releases
      id-token: write  # IMPORTANT: mandatory for sigstore

    steps:
      - name: Download all the dists
        uses: actions/download-artifact@v4.2.1
        with:
          name: python-packages
          path: dist/
      - name: Sign the dists with Sigstore
        uses: sigstore/gh-action-sigstore-python@v3.0.1
        with:
          inputs: >-
            ./dist/*.tar.gz
            ./dist/*.whl
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: >-
          gh release create
          "$GITHUB_REF_NAME"
          --repo "$GITHUB_REPOSITORY"
          --title "$GITHUB_REF_NAME (`date +%Y-%m-%d`)"
          --notes "Please see the [official ChangeLog](https://django-ca.readthedocs.io/en/$GITHUB_REF_NAME/changelog.html) for release notes."
      - name: Upload artifact signatures to GitHub Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        # Upload to GitHub Release using the `gh` CLI.
        # `dist/` contains the built packages, and the
        # sigstore-produced signatures and certificates.
        run: >-
          gh release upload
          "$GITHUB_REF_NAME" dist/**
          --repo "$GITHUB_REPOSITORY"